ICONS = <%= Houston::Alerts.config.icons_by_type.to_json %> # bump

Handlebars.registerHelper 'iconForAlert', (alertType)->
  icon = ICONS[alertType]
  """<i class="fa fa-lg #{icon}"></i>"""

Handlebars.registerHelper 'formatAlertDeadline', (deadline)->
  deadline = d3.time.format.iso.parse(deadline) if _.isString(deadline)
  return "Past" if deadline < new Date()
  d3.time.format('%-I:%M %p<span class="weekday">%A</span>')(deadline).replace /AM|PM/, (s)-> s.toLowerCase()

Handlebars.registerHelper 'secondsUntil', (deadline)->
  Math.floor((App.parseTime(deadline) - new Date()) / 1000)

Handlebars.registerHelper 'pullRequestIcon', ->
  '<%=
    icon = Octicons::Octicon.new("git-pull-request", {})
    content_tag(:svg, icon.path.html_safe, icon.options)
  %>'
