.dashboard.green {
  #alerts_count {
    background: rgba(255, 255, 100, 0.07);
    color: rgba(255, 255, 210, 0.2);
  }

  #alerts {
    &::after {
      content: '\f087';
      content: '\f164';
      font-family: 'FontAwesome';
      font-size: 40em;
      color: rgba(255, 255, 100, 0.03);
      display: block;
      width: 500px;
      height: 500px;
      margin: 25% auto;
      text-align: center;
    }
  }
}

.dashboard.red {
  #alerts_count {
    background: rgba(255, 255, 100, 0.07);
    color: rgba(255, 255, 230, 0.2);
  }
  tr.houston-alert td {
    &.houston-alert-type {
      color: rgba(255, 255, 230, 0.6);
    }

    &.houston-alert-countdown {
      &, .label { color: rgba(255, 255, 230, 0.38); }
      .label { background: lighten(#8B2A17, 4%); }

      .late, .late .label { color: #E95F44 }
    }
  }
  tr.houston-alert.late {
    color: #E95F44;

    td.houston-alert-type { color: lighten(#E95F44, 4%); }
  }
}

.houston-alert-summary {
  word-break: break-all;
}

select {
  &.houston-alert-assign, &.houston-alert-project {
    width: 8.5em;
    margin: 0;
  }
}

#alerts_body td { vertical-align: top; }

.dashboard {
  #alerts_count {
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    font-size: 27px;
    line-height: 39px;
    text-align: center;
    border-radius: 4em;
    position: absolute;
    top: 0;
    right: 54px;

    // matches the refresher
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.2);
  }

  #alerts {
    table-layout: fixed;
    width: 100%;
  }

  tr.houston-alert {
    td {
      padding: 1px 1em 1px 0;
      white-space: nowrap;

      &.houston-alert-project {
        width: 8em;
        text-align: right;
      }
      &.houston-alert-type {
        width: 1em;
        padding: 0; // Midori will ignore this anyway; put the padding on the summary

        i.fa-fire-extinguisher {
          font-size: 1.2em;
          position: relative;
          top: 1px;
          left: 1px;
        }
        i.fa-bank {
          font-size: 0.96em;
        }
      }
      &.houston-alert-number {
        width: 4em;
        text-align: right;
        padding: 1px 0.75em 1px 0;
      }
      &.houston-alert-summary {
        font-size: 1.33em;
        font-weight: 200;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 99%;
      }
      &.houston-alert-user {
        color: #292929;
        width: 26px;
        padding: 0 0 0 0.66em;

        img {
          vertical-align: top;
          width: 26px;
          min-width: 26px;
          max-width: 26px; /* override the max-width: 100% on img tags */
          height: 26px;
        }
      }
      &.houston-alert-countdown {
        width: 6.25em;
      }
      &.houston-alert-committed {
        width: 2em;
        text-align: right;
      }
    }
  }

}

.dashboard, #email_body {
  tr.houston-alert {
    td {
      line-height: 1.33em;

      &.houston-alert-type {
        color: #b0b0b0;
      }
      &.houston-alert-countdown {
        white-space: nowrap;
        text-align: right;
        color: #808080;
      }
    }
  }
}

#email_body {
  tr.houston-alert {
    td {
      vertical-align: top;
      padding-top: 0.33em;
      padding-bottom: 0.33em;

      &.houston-alert-project { padding-right: 0.66em; }
      &.houston-alert-summary {
        padding-right: 0.66em;

        a { display: block; text-decoration: underline; }
      }
      &.houston-alert-deadline { line-height: 1em; }
    }
  }
}

@media only screen and (max-width: 600px)  {
  .nomargin { margin: 0; }

  #alerts {
    tbody > tr:nth-child(odd) > td { background: none; }
    tbody > tr:hover td { background: none; }
    thead { display: none; }
    tbody, tr { display: block; }
    td.table-margin { display: none; }
    tr { margin: 1em 0; position: relative; }
    tr + tr { margin-top: 2em; }
    td { border: none; padding: 0; width: auto; }
    td.houston-alert-type {
      display: inline-block;
      img { width: 20px; height: 20px; }
    }
    td.houston-alert-project {
      display: inline-block;
      .label { font-size: 0.75em; }
    }
    td.houston-alert-summary {
      display: block;
    }
    td.houston-alert-deadline {
      position: absolute;
      top: 0.66em;
      right: 0;
      font-size: 0.88em;
      display: block;

      &::before {
        font-weight: 800;
        content: 'Due: ';
      }

      .year { display: inline; font-size: inherit; }
    }
    td.houston-alert-worker { display: none; }
  }
}

// this could be global
.table td {
  &.time {
    white-space: nowrap;
    line-height: 1em;
    text-align: right;

    .weekday { display: block; font-size: 0.75em; }
  }
}
