table.alerts-by-project {
  th {
    background: #efefef;
    font-weight: 400;
    padding: 0.25em 0;
    border: 2px solid white;
  }
  th.invisible { background: transparent; }
  thead th[colspan] { background: #e0e0e0; }
  tbody th {
    text-align: left;
    padding: 0.25em 0.5em;
  }
  tbody td {
    padding-top: 0.5em;
    
    .axis {
      line { stroke: #ddd; }
      text { fill: #ddd; font-size: 11px; }
      path { stroke: #ddd; }
    }
  }
}
