<h1>Alerts</h1>

<table id="alerts">
  <%= render "alerts" %>
</table>

<%= content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var $alerts = $('#alerts'),
        format = d3.format('02d'),
        $countdowns, $countdown, urgent, label, timeleft, seconds, minutes, hours, days;
    
    function updateCountdowns() {
      $countdowns = $countdowns || $('.countdown');
      urgent = false;
      $countdowns.each(function() {
        $countdown = $(this);
        timeleft = +$countdown.attr('data-secondsleft') - 1;
        $countdown.attr('data-secondsleft', timeleft);
        seconds = Math.abs(timeleft);
        minutes = Math.floor(seconds / 60);
        hours = Math.floor(minutes / 60);
        days = Math.floor(hours / 24);
        
        label = format(seconds % 60);
        if(minutes >= 1) label = format(minutes % 60) + ':' + label;
        if(hours >= 1) label = Math.floor(hours % 24) + ':' + label;
        if(days >= 1) label = '<span class="label">' + Math.floor(days) + 'd</span> ' + label;
        if(timeleft < 0) label = '<span class="late">+ ' + label + '</span>';
        $countdown.html(label);
        $countdown.closest('tr').toggleClass('late', timeleft < 0);
        
        if(timeleft < 1800) urgent = true; // less than 30 minutes to go or late
      });
      $('body').toggleClass('red', urgent);
    }
    
    function update() {
      $countdowns = null;
      updateCountdowns();
      $('body').toggleClass('green', $('.houston-alert').length == 0);
    }
    
    setInterval(updateCountdowns, 1000);
    
    new Refresher()
      .container('#container')
      .interval(45 * 1000) // 45 seconds
      .callback(function() {
        $.get('/alerts').done(function(html) {
          $alerts.html(html);
          update();
        });
      }).render();
    
    update();
  });
</script>
<% end %>
