<h1>Alerts</h1>

<table id="alerts">
  <%= render "alerts" %>
</table>

<%= content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var $alerts = $('#alerts');
    var format = d3.format('02d');
    var $countdowns, $countdown, deadline, ts, label, now;
    
    function updateCountdowns() {
      now = new Date();
      $countdowns = $countdowns || $('.countdown');
      $countdowns.each(function() {
        $countdown = $(this);
        deadline = new Date($countdown.attr('data-deadline'));
        ts = countdown(now, deadline);
        label = [
          ts.hours || 0,
          format(ts.minutes || 0),
          format(ts.seconds || 0)
        ].join(':').replace(/^0+:/);
        if(ts.days) label = '<span class="label">+' + ts.days + '</span> ' + label;
        $countdown.html(label);
      });
    }
    
    setInterval(updateCountdowns, 1000);
    updateCountdowns();
    
    new Refresher()
      .container('#container')
      .interval(45 * 1000) // 45 seconds
      .callback(function() {
        $.get('/alerts').done(function(html) {
          $alerts.html(html);
          $countdowns = null;
          updateCountdowns()
        });
      }).render();
  });
</script>
<% end %>
