<div id="reports"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    new Houston.Alerts.ReportsView({
      el: $('#reports')[0],
      alerts: <%=raw @alerts.to_json %>
    }).render();
  });
</script>
<% end %>
