<h2 style="font-size: 10em; text-align: center; color: #539B25; font-weight: 200; line-height: 2em;">Thanks!</h2>

<i class="fa fa-thumbs-up" style="font-size: 40em; color: #CFE7C0; position: fixed; display: block; width: 500px; height: 500px; margin-left: -250px; top: 10%; left: 50%; z-index: -1;"></i>
